body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
    
    
}

.main {
    max-width: 700px;
    margin: 150px auto;
    
    
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: none;
    
}
.error {
	color: red;
}


.blog-nav {
    max-width: 700px;
    margin: 0 auto;
        
}

.blog-header {
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    z-index: 100;
    left:0;
    right: 0;
    top:0;
    padding-bottom: 1em;
    background-color: white;
        
}
.main-title{
    display: block;
	color: #222;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
    margin-bottom: 1em;
}

.article {
    margin-top : 2em;
    border: 1px solid #efefef;
    padding: 1em
}

.article a {
    text-decoration: none;
}

.article-title-rate {
    font-weight: bold;
    border: 1px solid black;
    font-size: 20px;
    padding: 1em
}

.article-title {
	font-size: 30px;
}
.article-content {
    padding: 16px 0 16px 0;
    font-size: 16px;
}

.article-like {
    font-size: 18px;
}

.article-date, .article-writer {
    color: gray;
}

.comment-input {
    margin-top: 1em;
    border: 1px solid #efefef;
    padding: 1em
}

.comments {
    padding: 1em;
    border: 1px solid #efefef;
    margin-top: 1em;
}

.comment-content {
    font-size: 16px;
    padding-top: 1em;
        
}

.notice {
    color : #005f5f;
}