<div class="article">
    <div class="article-heading">
        <div class="row">
            <div class="col-md-12 ">
                <div class="article-title">
                    <span>{{a.rate}}</span>
                    <span>{{a.title}}</span>
                </div>
            </div>
            
    
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="article-date">
                    Date : {{a.created.strftime("%b %d, %Y")}}
                </div>
                <div class="article-writer">
                    Writer: {{a.created_by}}
                </div>
            </div>
        </div>
    </div>
        <div class="row article-content">
            <div class="col-md-12 text-justify">
                {{a._render_text | safe}}
            </div>
        </div>
        
    </div>
