<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
	<title>Write Anything</title>
</head>
<body>
    <div class="container-fluid">
        <header class="blog-header">
            <a href="/blog" class="main-title">
                Write Anything
            </a>
            <div class="blog-nav">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <a type="button" class="btn btn-success" href="/blog/newpost">Write a Story</a>
                        <a type="button" class="btn btn-default" href="/blog">Read Stories</a>
                        
                    </div>
                    <div class="col-md-6 col-sm-12 text-right user-info">
                        {% if user %}
                            <a href="#">Welcome! {{user.name}}</a> |
                            <a href="/blog/logout">Logout</a>
                        {% endif %}

                        {% if not user %}
                        <a href="/blog/login">Login</a> |
                        <a href="/blog/register">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <section class="main">    
        {% block content %}
        {% endblock %}       
        </section>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="footer-nav col-xs-12 col-sm-12 col-md-12">
                    <a href="https://www.linkedin.com/in/ericlimchicago">Created by Eric Lim</a><br><br>
                    <a href="https://github.com/sonamoo"><img class="profile-icons" src="/images/github-logo.svg"></a>
                    <a href="https://www.linkedin.com/in/ericlimchicago"><img class="profile-icons" src="/images/linkedin-logo.svg"></a>
                </div>    
            </div>
        </div>  
    </footer>
<script src="/bootstrap/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>

</body>
</html>