<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<title>Simple Blog</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="/blog" class="main-title">
                Simple Blog
            </a>
            <div class="nav">
              <ul>
                <li id="nav_blog"><a href="/blog">Blog</a></li>
                <li id="nav_post"><a href="/blog/newpost">Post</a></li>
                <li id="nav_blog"><a href="/blog">About</a></li>
                <li id="nav_register"><a href="/blog/register">Register</a></li>
                <li id="nav_login"><a href="/blog/login">Login</a></li>
              </ul>
            </div>
        </header>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>          
    </div>
<script src="/bootstrap/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
</body>
</html>