<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
	<title>Simple Blog</title>
</head>
<body>
    <div class="container-fluid">
        <header class="blog-header">
            <a href="/blog" class="main-title">
                Simple Blog
            </a>
            <div class="blog-nav">
                <div class="row">
                    <div class="col-md-6">
                        <a type="button" class="btn btn-success" href="/blog/newpost">Write a Story</a>
                        <a type="button" class="btn btn-primary" href="/blog/">Read Stories</a>
                    </div>
                    <div class="col-md-6 text-right user-info">
                        {% if user %}
                            <a href="#">Welcome! {{user.name}}</a> |
                            <a href="/blog/logout">Logout</a>
                        {% endif %}

                        {% if not user %}
                        <a href="/blog/login">Login</a> |
                        <a href="/blog/register">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <section class="main">    
        {% block content %}
        {% endblock %}       
        </section>
    </div>
<script src="/bootstrap/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>

</body>
</html>