{% extends "base.html" %}
{% block content %}

<div class="comments">
        <div class="row">
            <div class="col-md-6">
                <div class="writer">
                    {{c.created_by}}
                </div>
                <div class="date">
                    {{c.created.strftime("%b %d, %Y")}}
                </div>
                
            </div>
            <div class="col-md-6 text-right">
                <a href="/blog/editcomment/{{a.key().id()}}/{{c.key().id()}}">Edit</a>
                |
                <a href="/blog/deletecomment/{{a.key().id()}}/{{c.key().id()}}">Delete</a>
            </div>
            
        </div>
        
        <div class="row comment-content">
            <div class="col-md-12 text-justify">
                    {{c.comment.replace('\n', '<br>') | safe}}
            </div>
        </div>
    </div>

{% endblock %}