{% extends "base.html" %}
{% block content %}

<div class="row row-content">
    <div class="col-md-8 col-md-offset-2">
		<form method="put">
            <h2>New Post</h2>
            <div class="form-group">
                <label for="inputTitle">Title</label>
                <input type="text" class="form-control" name="title" value="{{title}}" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="inputContent">Content</label>
                
                <textarea name="contents" class="form-control" rows="10"></textarea>
            </div>
                <span class="error">{{error}}</span>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
		</form>
        </div>
</div>
{% endblock %}