{% extends "base.html" %}
{% block content %}
    {% if username == "NoUser" %}
        <div class="notice">
            <div class="row">
                <p class="text-center">Welcome to our Blog!</p>
                
                <p class="text-center">Please log in or create an account to post your article :) </p>
                

            </div>
        </div>

    {% endif %}
	{% for a in articles %}
	{{ a.render() | safe }}
    
        
    {% if a.created_by == username %}
        <div class="article-buttons">
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="/blog/editpost/{{a.key().id()}}" class="btn btn-default btn-sm" role="button">Edit</a>
                <a href="/blog/deletepost/{{a.key().id()}}" class="btn btn-default btn-sm" role="button">Delete</a>
            </div>
        </div>
        </div>
    {% endif %}
	{% endfor %}

{% endblock %}