{% extends "base.html" %}
{% block content %}
    {% if not user%}
        <div class="notice">
            <div class="row">
                <p class="text-center">Welcome to our Blog!</p>
                <p class="text-center">Please log in or create an account to share your story with everyone! :) </p>
            </div>
        </div>
    {% endif %}
	{% for a in articles %}
        
        <div class="article">
            <div class="row">
                <div class="col-md-12 front-article-title">
                    <span class="article-writer">
                        {{a.created_by}}
                    </span>
                    <span class="article-date">
                        {{a.created.strftime("%b %d, %Y")}}
                    </span>
                </div>
            </div>
            <a href="/blog/{{a.key().id()}}">
                <div class="row article-title">
                    <div class="col-md-12">
                         {{a.title}}
                    </div>
                </div>
                <div class="row article-content">
                    <div class="col-md-12">
                        {{a.contents|truncate(300)}}
                    </div>
                </div>
            </a>
            <div class="row">
                <div class="col-md-6">
                    <a class="article-like" href="/blog/like/{{a.key().id()}}">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    </a>
                    <span class="article-like-number">{{a.likes|length}}</span>
                     
                </div>
                {% if a.created_by == user.name %}
                <div class="col-md-6 text-right">
                    <a href="/blog/editpost/{{a.key().id()}}" class="btn btn-default btn-sm" role="button">Edit</a>
                    <a href="/blog/deletepost/{{a.key().id()}}" class="btn btn-default btn-sm" role="button">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
	{% endfor %}

{% endblock %}