{% extends "base.html" %}
{% block content %}

    
        <div class="row row-content">
            <br>
            <br>
            <br>
        </div>
        <div class="row row-content">
            <div class="col-md-4 col-md-offset-4">
            <form method="post">
                <h2 class="text-center">Register</h2>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" name="username" value="{{username}}" placeholder="ID">
                    <span class="error">{{error_username}}</span>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" name="password" value="" placeholder="Password">
                    <span class="error">{{error_password}}</span>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Verify Password</label>
                    <input type="password" class="form-control" name="verify" value="" placeholder="Verify">
                    <span class="error">{{error_verify}}</span>
                </div>
                <div class="form-group">
                    <label for="inputPassword">E-mail (Optional)</label>
                    <input type="text" class="form-control" name="email" value="" placeholder="Your email address">
                    <span class="error">{{error_email}}</span>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </form>
            </div>
        </div>

{% endblock %}